<div class="container">
  <div class="form-group">
    <label>Titre</label>
    <input
      type="text"
      class="form-control"
      name="title"
      value="<%= book.title %>"
    />
  </div>
  <label>Author</label>
  <select name="author" class="form-control">
    <% authors.forEach(author => { %> <% if (author.id === book.author) {%>
    <option
      selected
      label="<%= author.name %>"
      value="<%= author.id %>"
    ></option>
    <% } else { %>
    <option label="<%= author.name %>" value="<%= author.id %>"></option>
    <% }%> <% }); %>
  </select>
  <div class="form-group">
    <label>Publish Date</label>
    <input
      class="form-control"
      type="date"
      name="publishDate"
      value="<%= book.publishDate == null ? '':
      book.publishDate.toISOString().split('T')[0] %>"
    />
  </div>
  <div class="form-group">
    <label>Page count</label>
    <input
      type="number"
      class="form-control"
      name="pageCount"
      min="1"
      value="<%= book.pageCount%>"
    />
  </div>
  <div class="form-group">
    <label>Cover</label>
    <input type="file" class="form-control filepond" name="cover" />
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" name="description">
      <%= book.description %></textarea
    >
  </div>
</div>
